---
http_interactions:
- request:
    method: post
    uri: https://zeptomail.zoho.com/v1.1/email/template
    body:
      encoding: UTF-8
      string: '{"from":{"address":"leslie@zylker.com","name":"April"},"to":[{"email_address":{"address":"jon@zylker.com","name":"Ron"}},{"email_address":{"address":"jon@zylker.com","name":"Leslie"}}],"reply_to":[],"cc":[{"email_address":{"address":"april@zylker.com","name":"Chris"}}],"bcc":[{"email_address":{"address":"april@zylker.com","name":"Andy"}}],"mail_template_key":"2d6f.2a5f13c9.k1.c19333e0-75a8-11ef-b3f6-52540064429e.19204ad361e","merge_info":"{\"name\":\"name_value\",\"OTP\":\"OTP_value\",\"team\":\"team_value\",\"product_name\":\"product_name_value\"}"}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"error":{"code":"TM_3501","details":[{"code":"MTR_107","message":"Template
        not found"}],"message":"Unprocessable Entity","request_id":"2d6f.2a5f13c9.m4.f25ba680-00a2-11f0-a7fd-525400a229b1.195937a70e8"}}'
  recorded_at: Fri, 14 Mar 2025 07:07:09 GMT
recorded_with: VCR 6.2.0
